{{define "class_python"}}
from wtforms import TextField, FormField, IntegerField

class {{.Name}}():
    {{ range $key, $val := .Fields }}
    {{$val.Name}} = {{$val.Type}}(validators=[{{$val.ValidatorsString}}])
    {{ end }}
{{end}}
