{{- define "client_python" -}}
import requests
{{ range $k, $v := .Services }}
from {{$v.FilenameNoExt}} import  {{$v.Name}} {{end}}

BASE_URI = "{{.BaseURI}}"


class Client:
    def __init__(self):
        self.url = BASE_URI
        self.session = requests.Session()
        {{ range $k, $v := .Services }}
        self.{{$v.EndpointName}} = {{$v.Name}}(self){{end}}
    
    def set_auth_header(self, val):
        ''' set authorization header value'''
        self.session.headers.update({"Authorization":val})

{{- end -}}
