{{- define "server_resources_api_python_sanic" -}}
import json as JSON

from sanic.response import json, text
import jsonschema
from jsonschema import Draft4Validator
{{ range $k, $v := .ReqBodies }}
{{$v}}_schema =  JSON.load(open('{{$v}}_schema.json')){{ end }}

{{ range $k, $v := .Methods }}
async def {{$v.MethodName}}({{$v.Params}}):
    '''
    {{range $kf, $vf := $v.FuncComments -}}
    {{$vf}}
    {{end -}}
    It is handler for {{$v.Verb}} {{$v.Endpoint}}
    '''
    {{ if .ReqBody }}
    inputs = request.json
    try:
        Draft4Validator({{.ReqBody}}_schema).validate(inputs)
    except jsonschema.ValidationError as e:
        return text('Bad Request Body', 400)
    {{ end }}
    return json({})
{{ end }}
{{ end }}
