{{- define "server_resource_api_main_go" -}}
package {{.PackageName}}

{{$apiName := .Name}}
// {{.Name}}API is API implementation of {{.Endpoint}} root endpoint
type {{.Name}}API struct {
}

{{- end -}}
