{{- define "server_main_template" -}}
package {{.PackageName}}

import (
	"log"
	"net/http"

    "{{.RootImportPath}}/goraml"

	"github.com/gorilla/mux"
    "gopkg.in/validator.v2"
)

func main() {
    // input validator
    validator.SetValidationFunc("multipleOf", goraml.MultipleOf)

	r := mux.NewRouter()

    {{ if .APIDocsDir }}
    // apidocs
    r.PathPrefix("/{{.APIDocsDir}}/").Handler(http.StripPrefix("/{{.APIDocsDir}}/", http.FileServer(http.Dir("./apidocs/"))))
    {{ end }}

	{{ range $k, $v := .ResourcesDef }}
	{{.Name}}InterfaceRoutes(r, {{.Name}}API{})
	{{ end }}

	log.Println("starting server")
	http.ListenAndServe(":8080", r)
}

{{- end -}}
