{{- define "server_resources_api_nim" -}}
import jester, marshal
{{ range $k, $v := .Imports }}
import {{$v}}{{end}}

{{ range $k, $v := .Methods}}
proc {{$v.MethodName}}*({{$v.ServerProcParams}}) : tuple[code: HttpCode, content: {{$v.ContentRetval}}] =
  {{- range $kc, $vc := $v.FuncComments}}
  # {{$vc}}{{end}}
  {{if .ReqBody -}}
  let reqBody = to[{{.ReqBody}}](req.body)
  {{- end }}
  
  {{- if .RespBody }}
  var respBody: {{.RespBody}}
  {{- else}}
  let respBody = ""
  {{- end }}
  result = (code: Http200, content: respBody)
{{ end }}
{{ end }}
