{{define "struct_capnp" -}}
{{- range $k, $v := .Imports}}
{{$v}};{{end}}
{{.ID}};
{{range $k, $v := .Annotations}}
{{$v}};{{end}}
struct {{.Name}} {
{{- range $k, $v := .OrderedFields }}
  {{$v.Name}} @{{$v.Num}} :{{$v.Type}};{{end}}
}
{{end}}
