{{define "struct_template"}}
package {{.PackageName}}

import (
    {{if .NeedFmt}}"fmt"{{end}}

    {{if .NotBareInterface}}"gopkg.in/validator.v2" {{end}}
)

{{ range $v := .Description }}
// {{$v}} {{end}}
{{ if .OneLineDef -}}
{{ .OneLineDef }}
{{- else -}}
type {{ .Name }} struct {
    {{ range $key, $value := .Fields }}
        {{$value.Name}}  {{if eq $value.IsComposition false}} {{$value.Type}} `json:"{{$key}}{{if eq $value.IsOmitted true}},omitempty{{end}}"{{if $value.Validators}} validate:"{{$value.Validators}}"{{end}}` {{end}}
    {{- end}}
}
{{- end}}

{{ if .NotBareInterface}}
func (s {{.Name}}) Validate() error {
    {{if .T.MinItems -}}
    if len(s) < {{.T.MinItems}} {
        return fmt.Errorf("len should be >=  {{.T.MinItems}}")
    }
    {{- end}}
    {{if .T.MaxItems -}}
    if len(s) > {{.T.MaxItems}} {
        return fmt.Errorf("len should be <= {{.T.MaxItems}}")
    }
    {{- end}}

    return validator.Validate(s)
}
{{ end }}
{{end}}
