{{- define "server_main_go" -}}
// THIS FILE IS SAFE TO EDIT. It will not be overwritten when rerunning go-raml.
package {{.PackageName}}

import (
	"log"
	"net/http"

    "{{.RootImportPath}}/goraml"

	"github.com/gorilla/mux"
    "gopkg.in/validator.v2"
)

func main() {
    // input validator
    validator.SetValidationFunc("multipleOf", goraml.MultipleOf)

	r := mux.NewRouter()
    {{ if .ShowAPIDocsAndIndex}}
    // home page
	r.HandleFunc("/", func(w http.ResponseWriter, r *http.Request) {
		http.ServeFile(w, r, "index.html")
	})

    {{ if .APIDocsDir }}
    // apidocs
    r.PathPrefix("/{{.APIDocsDir}}/").Handler(http.StripPrefix("/{{.APIDocsDir}}/", http.FileServer(http.Dir("./apidocs/"))))
    {{ end }}
    {{ end }}
    initRoutes(r)

	log.Println("starting server")
	http.ListenAndServe(":5000", r)
}

{{- end -}}
