{{- define "server_resource_api_impl_go" -}}
// THIS FILE IS SAFE TO EDIT. It will not be overwritten when rerunning go-raml.
package {{.PackageName}}

import (
    {{ range $k, $v := .Method.Imports -}}
        {{$v}}
    {{ end -}}
)


// {{.Method.MethodName}} is the handler for {{.Method.Verb}} {{.Method.Endpoint}}
{{- range $kf, $vf := .Method.FuncComments}}
// {{$vf}}{{end}}
func(api {{.APIName}}API) {{.Method.MethodName}}(w http.ResponseWriter, r *http.Request) {
	{{- range $kq, $vq := .Method.QueryParameters -}}
    // {{$kq}} := req.FormValue("{{$kq}}")
	{{- end }}
	{{- if .Method.ReqBody -}}
	var reqBody {{.Method.ReqBody}}

    // decode request
	if err := json.NewDecoder(r.Body).Decode(&reqBody); err != nil {
		w.WriteHeader(400)
		return
	}

    {{ if .ReqBodyNeedValidation}}
    // validate request
    if err := reqBody.Validate(); err != nil {
        w.WriteHeader(400)
        w.Write([]byte(`{"error":"`+err.Error()+`"}`))
        return
    }
	{{- end }}
	{{- end }}

	{{- if .Method.RespBody }}
	w.Header().Set("Content-Type", "application/json")
	var respBody {{.Method.RespBody}}
	json.NewEncoder(w).Encode(&respBody)
	{{- end }}
}

{{- end -}}
