{{- define "oauth2_middleware" -}}
package {{.PackageName}}

import (
	"log"
	"net/http"

    "github.com/gorilla/context"
)

func {{.Name}}(next http.Handler) http.Handler {
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
        {{ if .Header }}
        token := r.Header.Get("{{.Header.Name}}")
		if token == "" {
			log.Println("Authorization header is empty")
			w.WriteHeader(401)
			return
		}
        {{ else if .QueryParams }}
        token := r.URL.Query().Get("{{.QueryParams.Name}}")
		if token == "" {
			log.Println("Authorization header is empty")
			w.WriteHeader(401)
			return
		}
        {{ end }}
        // save access token in request context
        context.Set(r, "oauth2_access_token", token)
		
        next.ServeHTTP(w, r)
	})
}

{{- end -}}
