{{ define "python_client_template" }}
import requests
from client_utils import buildQueryString

BASE_URI = "{{.BaseURI}}"

class Client:
    def __init__(self):
        self.url = BASE_URI

{{ range $k, $v := .PythonMethods }}

    def {{$v.MethodName}}({{$v.Params}}):
        {{$commentlength := len $v.FuncComments}}
        {{if ne $commentlength 0 }}"""
        {{ range $kf, $vf := $v.FuncComments }}{{$vf}}{{end}}
        """
        {{end}}
        uri = {{$v.ResourcePath}}
        return requests.{{$v.Verb | ToLower}}(self.url + uri + buildQueryString(queryParams){{$v.PRArgs}} ,headers=headers)
{{ end }}

{{ end }}
