{{- define "resource_api_template" -}}
package {{.PackageName}}

import (
	{{ if .NeedJSON }}"encoding/json"{{ end }}
	"net/http"

    {{ if .NeedValidator}}"gopkg.in/validator.v2"{{end}}
)
{{$apiName := .Name}}
type {{.Name}}API struct {
}


{{ range $k, $v := .Methods }}
{{ range $kf, $vf := $v.FuncComments}}
// {{$vf}}{{end}}
// It is handler for {{$v.Verb}} {{$v.Endpoint}}
func(api {{$apiName}}API) {{$v.MethodName}}(w http.ResponseWriter, r *http.Request) {
	{{- range $kq, $vq := $v.QueryParameters -}}
    // {{$kq}} := req.FormValue("{{$kq}}")
	{{- end }}
	{{- if .ReqBody -}}
	var reqBody {{.ReqBody}}

    // decode request
	if err := json.NewDecoder(r.Body).Decode(&reqBody); err != nil {
		w.WriteHeader(400)
		return
	}

    // validate request
    if err := validator.Validate(reqBody); err != nil {
        w.WriteHeader(400)
        w.Write([]byte(`{"error":"`+err.Error()+`"}`))
        return
    }
	{{- end }}

	{{- if .RespBody }}
	var respBody {{.RespBody}}
	json.NewEncoder(w).Encode(&respBody);
	{{- end }}
	// uncomment below line to add header
	// w.Header().Set("key","value")
}
{{- end -}}

{{- end -}}
