{{define "struct_template"}}
package {{.PackageName}}

{{ range $v := .Description }}
// {{$v}} {{end}}
{{ if .IsOneLineDef -}}
{{ .OneLineDef }}
{{- else -}}
type {{ .Name }} struct {
    {{ range $key, $value := .Fields }}
        {{$value.Name}}  {{if eq $value.IsComposition false}} {{$value.Type}} `json:"{{$key}}{{if eq $value.IsOmitted true}},omitempty{{end}}"{{if $value.Validators}} validate:"{{$value.Validators}}"{{end}}` {{end}}
    {{- end}}
}
{{- end -}}
{{end}}
