{{define "struct_template"}}
package {{.PackageName}}

{{ range $v := .Description }}
// {{$v}} {{end}}
type {{ .Name }} struct {
    {{ range $key, $value := .Fields }}{{$value.Name}}  {{if eq $value.IsComposition false}} {{$value.Type}} `json:"{{$key}}"` {{end}}
    {{end}}
}
{{end}}
