{{define "object_nim"}}
{{- range $k, $v := .Imports }}
import {{$v}}{{end}}
type
{{- if .OneLineDef }}
  {{ .OneLineDef }}
{{- else }}
  {{ .Name }}* = object
    {{- range $k, $v := .Fields }}
    {{ $v.EscapedName }}*: {{$v.Type}}
    {{- end }}
{{- end }}
{{end}}
