{{- define "client_initpy_python_aiohttp" -}}

{{ range $k, $v := .Services }}
from .{{$v.FilenameNoExt}} import  {{$v.Name}} {{end}}
{{- range $k, $v := .Securities}}
from .{{$v.ModuleName}} import {{$v.Name}}{{end}}

from .http_client import HTTPClient


class Client:
    def __init__(self,loop, base_uri="{{.BaseURI}}", token=None):
        http_client = HTTPClient(loop, base_uri, token)
        {{- if .Securities}}
        self.security_schemes = Security() {{end}}
        {{ range $k, $v := .Services }}
        self.{{$v.EndpointName}} = {{$v.Name}}(http_client){{end}}
        self.close = http_client.close

{{ if .Securities}}
class Security:
    def __init__(self):
        {{- range $k, $v := .Securities}}
        self.{{$v.ModuleName}} = {{$v.Name}}(){{end}}
{{ end }}
{{- end -}}
