{{- define "server_main_python" -}}
from flask import Flask, send_from_directory, send_file
{{ range $k, $v := .ResourcesDef -}}
from {{.Name | ToLower}}_api import {{.Name | ToLower}}_api
{{end }}

app = Flask(__name__)

dirpath="../generated/server/"
dirpath="" #comment this when in js9 ramlserver

{{range $k, $v := .ResourcesDef -}}
app.register_blueprint({{.Name | ToLower }}_api)
{{end}}

{{ if .APIDocsDir }}
@app.route('/{{.APIDocsDir}}/<path:path>')
def send_js(path):
    return send_from_directory('%s{{.APIDocsDir}}'%dirpath, path)
{{ end }}

@app.route('/', methods=['GET'])
def home():
    return send_file('%sindex.html'%dirpath)

if __name__ == "__main__":
    app.run(debug=True)
{{end -}}
